<style>
  .search-container {
    display: flex;
    align-items: center;
  }

  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0.4rem 1rem 0.4rem 1rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }

  .search-inp {
  -webkit-appearance: none; /* For Chrome, Safari, Edge */
  -moz-appearance: none; /* For Firefox */
  appearance: none; /* Standard property */
  background: none; /* Remove background if needed */
  padding-right: 20px; /* Adjust padding for aesthetics */
}

  @media (min-width: 761px) {
    .links {
      display: flex;
      align-items: center;
    }
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
       <div class="navbar-nav" >
         <a class="nav-link explore-link" href="/listings">Explore</a>
        </div>


      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/listings?country=<%= countries %>">
          <div class="search-container">
            <select name="country" id="country" class="form-select me-2 search-inp" >
              <option value="">Choose your destination</option>
              <% countries.forEach(country => { %>
                <option value="<%= country %>"><%=country %></option>
              <% }) %>
            </select>
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i><span class="btn-text">Search</span></button>
          </div>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"  aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Wanderlust</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page"  href="/listings/new">Airbnb your home</a>
            </li>
            <li class="nav-item links">
              <% if(!currUser) { %>
                <a class="nav-link active" aria-current="page" href="/signup"><b>Signup</b></a>
                <a class="nav-link active" aria-current="page" href="/login"><b>Log in</b></a>
                <% } %>
            </li>
            <li class="nav-item">
              <% if(currUser) { %>
                <a class="nav-link active" aria-current="page" href="/logout"><b>Log out</b></a>
                <% } %>
            </li>
          </ul>
        </div>
      </div>
  </div>
</nav>